div.nav
{
    display: flex;
    align-content: center;
    width: 100%;
    background: rgba(6, 38, 75, 0.596);
    box-shadow: 0 8px 32px 0 rgba(176, 133, 255, 0.432);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.61);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    margin: 0;
    background-color: rgba(100, 172, 255, 0.616);
}
.nav li
{
    float: left;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nav a
{
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin: 0px;
    padding: 1em;
    border-radius: 5%;
    font-size: 1.25em;
}
a:hover
{
    background-color: rgb(100, 172, 255);
    color:rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans;
    font-size: 1.3em;
}