<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Samurai Shop</title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="katana.html">Katana</a></li>
            <li><a href="moves.html">Moves</a></li>
            <li><a href="quote.html">Quotes</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="wound.html">Wound</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </div>
    <p>Comming Soon.........</p>
</body>
</html>